.historique {
  margin: 20px;
}
input[type="text"] , input[type="date"], input[type="number"] , input[type="time"] , input[type="email"] , input[type="password"] , select , textarea,option {
  font-weight: bolder;
  color: black;
}